<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js" ></script>
    <title>Document</title>
</head>
<body>
    {% verbatim %}
    <div id="state">state: {{ state.status }} </div>
    {% endverbatim %}
   
    <script>
        new Vue({
            el:'#state',
            data:{
                state:{}
            },
            created() {
                axios.get('api/state')
                .then(response => {
                    this.state = response.data[0]
                    console.log(this.state)
                    }
                )
            }
        })
    </script>
</body>
</html>